:root {
    --blue: rgb(51, 181, 229);
    --medium-blue: rgb(62, 182, 226);
    --light-blue: rgb(140, 224, 255);
    --dark-blue: rgb(15, 61, 78);
    --green: rgb(43, 155, 127);
    --dark-green: rgb(14, 63, 51);
    --dark: rgb(37, 37, 37);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1,
h3,
h2,
thead,
i,
a,
strong {
    color: var(--dark-blue);
    text-decoration: none;
}

textarea,
input,
button,
select {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

i {
    margin-right: 1rem;
}

a:hover {
    color: var(--dark-blue);
}

table {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    width: 100%;
}

input,
button,
textarea {
    border: none;
    outline: none;
    background-color: transparent;
}

.search {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 2rem;
    padding: 0.5rem;
    margin-right: 2rem;
}

.search-input,
.search-button {
    color: var(--blue);
    font-size: 1.5rem;
    background-color: white;
}

.search-button:hover {
    color: var(--dark-blue);
}

.login {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
}

.login::after {
    content: "Login";
}

.login:hover {
    text-decoration: none;
    color: var(--blue);
}

.logo {
    padding: 0.5rem;
}

.burger i {
    color: white;
    font-size: 2rem;
    padding-left: 1rem;
}

.burger-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
}

.card-login {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: var(--dark-blue);
    font-size: 1rem;
    padding: 1rem;
    position: absolute;
    border: 3px solid var(--dark-blue);
    box-shadow: 1rem 1rem var(--dark-blue);
}

.card-login p {
    color: var(--dark-blue);
}

.card-login a:hover {
    text-decoration: underline;
}

.card-login button {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    margin-top: 1rem;
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--dark-blue);
    box-shadow: 0.5rem 0.5rem var(--dark-blue);
}

.card-login button:hover {
    background-color: var(--medium-blue);
    box-shadow: 0.3rem 0.3rem var(--dark-blue);
    transform: translateY(0.2rem);
}

.card-login input {
    display: block;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    padding: 0.5rem;
    border: 2px solid lightgray;
    margin-bottom: 1rem;
}

.card-login input:focus {
    border-color: var(--blue);
}

.inline-input {
    display: block;
}

.radio-custom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.radio-custom input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-custom input[type="radio"]:checked+label {
    color: var(--dark-blue);
}

.radio-custom label {
    font-size: 1.5rem;
    color: lightgray;
}

.radio-custom label:hover {
    color: var(--blue);
}

.text-right {
    text-align: right;
    transition: all 0.5s ease-in;
    text-align: right;
    right: 0;
}

.text-right a:hover i {
    transform: translateX(0.5rem)
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2rem;
}

.card-image {
    position: relative;
}

.card-image img {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.image-caption {
    opacity: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 2rem;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.card-image:hover .image-caption {
    opacity: 1;
}

.card-image:hover img {
    filter: brightness(50%);
}

.card:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.card h2,
p,
.card-bottom {
    padding: 1rem;
}

.card-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}

.card-bottom a {
    text-decoration: none;
    font-size: 2rem;
}

.card-bottom a:hover .fas {
    color: var(--dark-blue);
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.two-chart {
    flex-direction: row;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--dark);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3rem;
}

.sidenav-active {
    width: 25%;
}

.sidenav a {
    padding: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0.5rem;
    font-size: 2rem;
    transition: all 0.3s ease;
}

.sidenav .closebtn:hover {
    transform: rotate(90deg);
    font-size: 2.5rem;
}

.search-result {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 50%;
}

.search-result a {
    text-decoration: underline;
}

.highlight {
    background-color: var(--blue);
    color: white;
}

.search-keys {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.badge {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-size: 0.8rem;
    border-radius: 1rem;
    padding: 0.2rem;
    margin: 0.2rem;
}

.badge:hover {
    background-color: var(--dark-blue);
    color: white;
}

.menu li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu i {
    font-size: 2rem;
    padding-left: 1rem;
    color: var(--light-blue);
}

.menu-item {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item a:hover {
    text-decoration: underline;
}

.menu-item .badge {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--dark-blue);
    text-align: center;
    padding: 0.3rem;
}

.menu-item .badge:hover {
    background-color: white;
    color: var(--dark-blue);
}

.menu-item-content {
    display: none;
}

.menu-item-content-active {
    display: block;
}

.menu-item-content a,
p {
    color: var(--blue);
    font-size: 1rem;
}

.menu-item-content a:hover {
    color: white;
    background-color: rgb(24, 24, 24);
}

.active {
    background-color: var(--dark-blue);
}

.danger {
    color: rgb(155, 40, 40) !important;
}

.warn {
    color: rgb(243, 176, 89)
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #fefefe;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animate-top;
    -webkit-animation-duration: 0.4s;
    animation-name: animate-top;
    animation-duration: 0.4s
}

.modal-header,
.modal-body,
.modal-footer {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.modal-body {
    flex-direction: column;
    font-size: 1rem;
}

.modal-footer {
    justify-content: flex-end;
}

.modal-footer button {
    font-size: 1rem;
}

.modal-header button {
    font-size: 3rem;
    color: var(--light-blue);
}

.modal-header button:hover {
    color: var(--dark-blue);
}

.modal-open {
    font-size: 1rem;
}

.button {
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    background-color: var(--blue);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 1rem;
}

.form input,
select,
textarea {
    display: block;
    font-size: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border: 2px solid lightgray;
    margin-bottom: 1rem;
}

.form input:focus,
select:focus,
textarea:focus {
    border-color: var(--blue);
}

textarea {
    text-decoration: none;
    width: 100%;
}

.file-container {
    display: flex;
    flex: 1;
    /* width: 80%; */
}

.file-detail {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.file-detail-toolbar {
    display: flex;
    justify-content: space-between;
}

.sentiment {
    display: flex;
    justify-content: space-around;
    color: var(--blue);
    align-items: center;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1rem;
}

.sentiment p {
    font-size: 3rem;
    color: var(--dark-blue);
}

@-webkit-keyframes animate-top {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animate-top {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(235, 250, 255);
}

.scroll::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgb(51, 181, 229);
}

.bg-info-shadow {
    background-color: rgb(250, 254, 255);
    box-shadow: 3px 7px rgb(23, 162, 184);
}

.custom-gradient,
.blue-gradient {
    background: rgb(0, 93, 124);
    background: linear-gradient(13deg, rgba(0, 93, 124, 1) 0%, rgba(51, 181, 229, 1) 100%);
}

.pdfobject-container {
    height: 100vh;
    width: 100%;
}

.error {
    font-size: small;
    color: red;
    text-align: center;
}

.is-invalid input {
    border: 2px solid red;
}

.alert {
    font-size: 2rem;
    margin-right: 1rem;
}

.alert-success {
    padding: 1rem;
    background-color: lightgreen;
}

.alert-danger {
    background-color: lightcoral;
    padding: 1rem;
}

.alert-info {
    padding: 1rem;
    background-color: orange;
}

.btn-danger {
    background-color: lightcoral;
}

.btn-success {
    background-color: lightgreen;
}

.data-table {
    background-color: red;
    width: 80%;
}

.bg-dark {
    background-color: var(--dark);
    color: white;
}

#login {
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--blue);
}

#contact-button {
    position: fixed;
    background-color: var(--light-blue);
    bottom: 5px;
    right: 5px;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#publish-switch input[type=checkbox]+label {}

#publish-switch input[type=checkbox]:checked+label {}

#clock {
    color: var(--dark-blue);
    font-size: 4rem;
}

footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin-top: auto;
}

@media only screen and (max-width: 600px) {
    .main-content,
    .card-container,
    .card,
    .search-result {
        flex-direction: column;
        width: 95%;
        align-items: center;
        margin: none;
    }
    .search-result {
        padding: none;
    }
    .search-input,
    .login,
    .logo,
    .profile {
        font-size: 1rem;
        padding: none;
        margin: none;
    }
    .profile-name {
        display: none;
    }
    .profile-content {
        transform: translateX(-60%);
        width: 300%;
    }
    .profile-content a {
        font-size: 1rem;
    }
    .sidenav-active {
        width: 50%;
    }
    .file-container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .file-detail {
        width: 100%;
    }
    .two-chart {
        flex-direction: column;
    }
    #login {
        background-image: url('../login-cover-02.jpg');
    }
    .graph {
        width: 430px;
        height: 250px;
    }
    #top-dashboard {
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) {
    .main-content {
        flex-direction: column;
        width: 95%;
        align-items: center;
        margin: none;
    }
    .search-result {
        width: 90%;
    }
    .card {
        width: 45%;
    }
    .card-container {
        flex-direction: row;
        align-items: flex-start;
    }
    .sidenav-active {
        width: 40%;
    }
    .file-container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .file-detail {
        width: 100%;
    }
    .two-chart {
        flex-direction: column;
    }
    #login {
        background-image: url('../login-cover-02.jpg');
    }
    .graph {
        width: 400px;
        height: 200px;
    }
    #top-dashboard {
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {
    .card {
        width: 30%;
    }
    .search-result {
        width: 80%;
    }
    .sidenav-active {
        width: 40%;
    }
    .file-container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .file-container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .file-detail {
        width: 100%;
    }
    #login {
        background-image: url('../login-cover-01.jpg');
    }
    .graph {
        width: 700px;
        height: 300px;
    }
}

@media only screen and (min-width: 992px) {
    .file-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .file-detail {
        width: 20%;
    }
    .two-chart {
        flex-direction: row;
    }
    #login {
        background-image: url(../login-cover-03.jpg);
    }
    .graph {
        width: 900px;
        height: 400px;
    }
    #top-dashboard {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1200px) {
    .main-content {
        width: 80%;
    }
    .search-result {
        width: 50%;
    }
    .sidenav-active {
        width: 20%;
    }
    .two-chart {
        flex-direction: row;
    }
    .graph {
        width: 1000px;
        height: 500px;
    }
}